! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

URxvt.*.font: xft:Cousine:style=Regular:size=8
URxvt.*.boldFont: xft:Cousine:style=Bold:size=8
URxvt.*.italicFont: xft:Cousine:style=Italic:size=8
URxvt.*.boldItalicFont: xft:Cousine:style=Bold Italic:size=8
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 4
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

! WMBubble settings 
wmbubble.maxbubbles: 100
wmbubble.air_noswap: #2299FF
wmbubble.air_maxswap: #FF0000
wmbubble.liquid_noswap: #0055FF
wmbubble.liquid_maxswap: #AA0000
wmbubble.ripples: 0.2
wmbubble.gravity: 0.01
wmbubble.volatility: 1.0
wmbubble.viscosity: 0.98
wmbubble.speed_limit: 1.0
wmbubble*duckbody: #F8FC00
wmbubble*duckbill: #F8B040
wmbubble*duckeye: black
wmbubble*delay: 15000
wmbubble*duck: yes
wmbubble*upsidedown: yes
wmbubble*cpumeter: yes
wmbubble*graphdigit: #308cf0
wmbubble*graphwarn: #ed1717
wmbubble*graphlabel: #C1C400
wmbubble*graphfield: #202020
wmbubble*graphgrid: #062A00
wmbubble*graphmax: #20B6AE
wmbubble*graphbar: #007D71
wmbubble*graphmarkers: #71E371
wmbubble*graphs: yes
wmbubble*units: kilobytes
wmbubble*shifttime: 0
wmbubble*digital: yes
wmbubble*showdate: no
wmbubble*analog: no
wmbubble*hourcolor: #EEEEEE
wmbubble*mincolor: #BF0000
wmbubble*seccolor: #C79F2B
